.container-xl {
  max-width: 1400px;
}

.container {
  max-width: 100%;
}

tr,
td,
th {
  border: 0px;
  padding-top: 0.65rem !important;
  padding-bottom: 0.7rem !important;
}

.position {
  width: 5%;
}

.address {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.address_mobile {
  margin-left: 25px;

  display: none;
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.tag {
  width: 15%;
}

.balance {
  width: 20%;
}

.last-seen {
  width: 15%;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.spinner-border {
  height: 25px;
  width: 25px;
  margin-top: -10px;
  margin-left: 20px;
  flex-shrink: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
